#hero {
    /* min-height: 100vh; */
    padding-bottom: 20px;
}

    .full-container > .hero-content {
        text-align: center;
    }
        .full-container > .hero-content > .logo {
            margin-bottom: 40px;
            width: 40px;
        }
        .full-container > .hero-content > h1 {
            margin-bottom: 20px;
            line-height: 50px;
            font-size: 48px;
            text-transform: uppercase;
        }
        .full-container > .hero-content > p {
            margin-bottom: 60px;
            font-size: 20px;
            line-height: 25px;
            color: #555;
        }
        .full-container > .hero-content > .clock {
            margin-bottom: 60px;
        }
        .full-container > .hero-content > .form {
            width: 90%;
            margin: 20px 5%;

        }
        .full-container > .hero-content > .mouse {
            margin-bottom: 20px;
        }
    .full-container > .content {}
        .full-container > .content > .left-column {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .full-container > .content > .right-column {
            display: inline-block;
            width: 40%;
            float: right;
        }
        #main-content h2 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        #main-content p {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 22px;
            color: #555;
        }
#footer {
    text-align: center;
    position: relative;
    color: #fff;
}
    .content > .icons {}
    .content > .footer-bottom {
        background-color: teal;
        display: inline-block;
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
        .content > .footer-bottom > .main-logo {
            margin-bottom: 40px;
        }
        .content > .footer-bottom > .credencials {
            background-color: violet;
            display: inline-block;
        }
            #footer .credencials > p {
                background-color: gray;
                display: inline-block;
                float: left;
                padding: 0 10px;
                position: relative;
                line-height: 28px;
                color: #fffb;
            }
            #footer .credencials > p:nth-child(2)::before,
            #footer .credencials > p:nth-child(2)::after{
                content: '';
                height: 18px;
                width: 1px;
                position: absolute;
                background-color: #fffb;
                top: 50%;
                transform: translate(0, -50%);
            }
            #footer .credencials > p:nth-child(2)::before {
                left: 0;
            }
            #footer .credencials > p:nth-child(2)::after{
                right: 0;
            }
        .content > .footer-bottom > p {
            line-height: 28px;
            color: #fffb;
        }
        .content > .footer-bottom a {
            color: #fff;
            text-decoration: none;
        }

@media (max-width: 768px) {
    .full-container > .content > .left-column {
        width: 100%;
    }
    .full-container > .content > .right-column {
        width: 100%;
        float: left;
    }
    .content > .footer-bottom {
        width: 100%;
        margin: 0;
}