#hero {
    min-height: 100vh;
    padding-bottom: 20px;
    background-image: url(../img/coming-background.png);
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}

    .full-container > .hero-content {
        text-align: center;
    }
        .full-container > .hero-content > .logo {
            margin-bottom: 40px;
            width: 40px;
        }
        .full-container > .hero-content > h1 {
            margin-bottom: 20px;
            line-height: 50px;
            font-size: 48px;
            text-transform: uppercase;
        }
        .full-container > .hero-content > p {
            margin-bottom: 60px;
            font-size: 20px;
            line-height: 25px;
            color: #888;
        }
        
        .full-container > .hero-content > .form {
            display: inline-block;
            width: 90%;
            margin: 20px 5%;

        }
        .full-container > .hero-content > .form > input {
            color: rgba(255, 255, 255, 0.5);
            border-color: rgba(255, 255, 255, 0.5);
            outline: none;

        }
            .full-container > .hero-content > .form > input::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        .full-container > .hero-content > .form > .message-button{
            margin-top: 20px;
        }
        .full-container > .hero-content > .mouse {
            display: inline-block;
            width: 20%;
            margin-bottom: 20px;
        }
    .full-container > .content {}
        .full-container > .content > .left-column {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .full-container > .content > .right-column {
            display: inline-block;
            width: 40%;
            float: right;
        }
#main-content {

}
    #main-content > .content > .left-column {
        margin-bottom: 20px;
    }
    #main-content h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    #main-content p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: #555;
    }
#footer {
    text-align: center;
    position: relative;
    color: #fff;
    padding-top: 0;
    background-image: url(../img/coming-background.png);
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}
    .footer-content {
        position: relative;
    }
        .content > .social-icons {
            display: inline-block;
            width: 100%;
            padding: 20px 0;
            margin-bottom: 40px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.75);
        }
        .content > .social-icons > .fa {
            display: inline-block;
            width: 50px;
            line-height: 50px;
            font-size: 30px;
            border-radius: 25px;
        }

        .content > .social-icons > .fa:hover {
            color: #27a5f8;
            background-color: #fff;
        }
        .content > .footer-bottom {
            display: inline-block;
            width: 600px;
            margin: 0 calc(50% - 300px);
        }
            .content > .footer-bottom > .main-logo {
                display: inline-block;
                width: 200px;
                margin-bottom: 30px;
            }
            .content > .footer-bottom > .credencials {
                display: inline-block;
            }
                #footer .credencials > p {
                    display: inline-block;
                    float: left;
                    padding: 0 10px;
                    position: relative;
                    font-size: 16px;
                    line-height: 28px;
                    color: rgba(255, 255, 255, 0.75);
                }
                #footer .credencials > p:nth-child(2)::before,
                #footer .credencials > p:nth-child(2)::after{
                    content: '';
                    height: 18px;
                    width: 1px;
                    position: absolute;
                    background-color: rgba(255, 255, 255, 0.75);
                    top: 50%;
                    transform: translate(0, -50%);
                }
                #footer .credencials > p:nth-child(2)::before {
                    left: 0;
                }
                #footer .credencials > p:nth-child(2)::after{
                    right: 0;
                }
            .content > .footer-bottom > p {
                font-size: 16px;
                line-height: 28px;
                color: rgba(255, 255, 255, 0.75);
            }
        .footer-content  a {
            color: #fff;
            text-decoration: none;
        }
        .footer-content > .back-to-top {
            width: 50px;
            line-height: 30px;
            font-size: 25px;
            border-radius: 25px;
            position: absolute;
            top: -25px;
            right: 0;
        }

@media (max-width: 960px) {
    #main-content h2 {
        font-size: 22px;
    }
    .full-container > .content > .left-column {
        width: 45%;
    }
    .full-container > .content > .right-column {
        width: 45%;
    }
}
@media (max-width: 768px) {
    .full-container > .content > .left-column {
        width: 100%;
        padding: 0 10px;
    }
    .full-container > .content > .right-column {
        width: 100%;
        float: left;
        padding: 0 10px;
    }
    .content > .footer-bottom {
        width: 100%;
        margin: 0;
    }
}
/* @media (max-width: 534px) {
    .footer-content > .back-to-top {
        right: -55px;
    } */
/* } */
@media (max-width: 480px) {
    .full-container > .hero-content > .clock > .time {
        width: 50%;
        padding: 0 5px;
    }
    .full-container > .content > .right-column {
        margin-bottom: 30px;
    }
    #footer .credencials > p {
        font-size: 12px;
    }
    .content > .footer-bottom > p {
        font-size: 12px;
    }
}
@media (max-width: 320px) {
    #footer .credencials > p {
        font-size: 10px;
    }
    .content > .footer-bottom > p {
        font-size: 10px;
    }
}