.full-container {
    
}

    .full-container > .content {
        background-color: pink;
        position: relative;
    }
    .full-container > .content > .logo {
        display: inline-block;
        width: 80px;
    }
    .full-container > .content > .nav-tab {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
        .full-container > .content > .nav-tab > .link {
            display: inline-block;
            line-height: 20px;
            font-size: 18px;
            margin-left: 20px;
            text-decoration: none;
        }
        .full-container > .content > .nav-tab > .non-button {
            color: #EA1E63;
            
        }
            .full-container > .content > .nav-tab > .non-button:hover {}