@media (max-width: 1200px)  {

}


@media (max-width: 960px)  {
    .container  {
        width: 600px;
    }
}


@media (max-width: 768px)  {
    .container  {
        width: 480px;
    }
    .container > .left  {
        top: -50px;
        bottom: -50px;
        width: 100%;
        z-index: -1;

    }
    .container > .right  {
        width: 100%;
        z-index: 1;
    }
}



@media (max-width: 480px)  {
    .container  {
        width: 100%;
    }
}



@media (max-width: 320px)  {
    
}
