html {
    scroll-behavior: smooth;
}
.bg-blue {
    background-color: #27a5f8;
}
.full-container {
    display: inline-block;
    width: 100%;
    padding: 60px 0px;
}
    .full-container > .hero-content {     /*used only in coming soon page */
        display: inline-block;
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
    .full-container > .content {
        display: inline-block;
        width: 1100px;
        margin: 0 calc(50% - 550px);
    }


@media (max-width: 1200px)  {
    .container  {
        width: 800px;
    }
    /* above is used in sign pages */
    
    .full-container > .hero-content {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
    .full-container > .content {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
}


@media (max-width: 960px)  {
    .container  {
        width: 600px;
    }
    .container > .right {
        padding: 60px;
    }
    .container > .left > .s-footer > a:last-of-type{
        width: 100%;
    }
/* above is used in sign pages */
    
    .full-container > .hero-content {
        width: 500px;
        margin: 0 calc(50% - 250px);
    }
    .full-container > .content {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
}


@media (max-width: 768px)  {
    .container  {
        width: 480px;
    }
    .container > .left  {
        top: -50px;
        bottom: -50px;
        width: 100%;
        z-index: -1;

    }

    .container > .left > .s-title {
        display: inline-block;
        color: white;
        width: 100%;
        padding: 5px 30px;
        line-height: 40px;
        font-size: 35px;
        font-weight: normal;
    }
        .container > .left > .s-title > span {
            display: inline-block;
            width: unset;
            margin-right: 10px;
            font-size: 30px;
        }
        .container > .left > .s-footer > a:last-of-type{
            width: unset;
        }

    .container > .right  {
        width: 100%;
        z-index: 1;
    }
    /* above is used in sign pages */
    /* below is used in main pages */
    .full-container > .hero-content,
    .full-container > .content {
        width: 480px;
        margin: 0 calc(50% - 240px);
    }
}



@media (max-width: 480px)  {
    .container  {
        width: 100%;
        
    }
    .container > .right {
        padding: 20px;
    }


    .container > .right > .close {
        width: 40px;
        height: 40px;            
    }

    .container > .right > .close > .cl-line {
        width: 20px;
        height: 2px;

    }
    /* above is used in sign pages */
    .full-container {
        padding: 20px 0;
    }
        .full-container > .hero-content,
        .full-container > .content {
            width: 100%;
            margin: 0;
        }
            .full-container > .content > .logo {
                display: inline-block;
                width: 50px;
            }
            .full-container > .content > .nav-tab {
                margin-top: 0;
            }
            .full-container > .content > .nav-tab > .link {
                display: none;
            }
            .full-container > .content > .nav-tab > .menu-btn {
                display: inline-block;
            }
                .full-container > .content > .nav-tab > .menu-btn > .menu-line {
                    display: inline-block;
                }
            
}



@media (max-width: 320px)  {
    
}
